/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10   // default: 10
#include <dt-bindings/zmk/pointing.h>

#define LOWER 1
#define RAISE 2
#define OTHER 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

// Convenience macro to make the Bluetooth commands shorter
#define BT(n) BT_SEL n

// Hyper key: all the modifiers
#define HYPER LC(LS(LA(LGUI)))

/ {
    chosen {
        // Valid choices: [ &mit_layout, &ortho_layout ]
        zmk,physical-layout = &ortho_layout;
    };

    macros {
        // Cmd + mouse button 4
        cmd_mb4: cmd_mb4 {
            compatible = "zmk,behavior-macro";
            label = "CMD_MB4";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press &kp LGUI>,
                <&mkp MB4>,
                <&macro_release &kp LGUI>;
        };

        // From Finder, go to the Home directory
        finder_home: finder_home {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press &kp LEFT_COMMAND>,
                <&macro_press &kp LEFT_SHIFT>,
                <&macro_tap &kp H>,
                <&macro_release &kp LEFT_COMMAND>,
                <&macro_release &kp LEFT_SHIFT>;
        };
        // Teams mute
        teams_mute: teams_mute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press &kp LEFT_COMMAND>,
                <&macro_press &kp LEFT_SHIFT>,
                <&macro_tap &kp M>,
                <&macro_release &kp LEFT_COMMAND>,
                <&macro_release &kp LEFT_SHIFT>;
        };
        // BLE shortcuts
        sw_bt1: sw_bt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(128,100,10)>,
                <&bt BT(0)>;
        };
        sw_bt2: sw_bt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(0,100,10)>,
                <&bt BT(1)>;
        };
        sw_bt3: sw_bt3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(300,100,10)>,
                <&bt BT(2)>;
        };
        sw_bt4: sw_bt4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(250,100,10)>,
                <&bt BT(3)>;
        };
        sw_bt5: sw_bt5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(50,100,10)>,
                <&bt BT(4)>;
        };
    };

    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            // param 0 = hold behavior, param 1 = tap behavior
            bindings = <&kp>, <&kp>;
        };

            // KEY POSITION REFERENCE
            // ---------------------------------------------------------------
            //                                                | 00 | 01 | 02 |
            // | 03 | 04 | 05 | 06 | 07 | 08 |   09 | 10 | 11 | 12 | 13 | 14 |
            // | 15 | 16 | 17 | 18 | 19 | 20 |   21 | 22 | 23 | 24 | 25 | 26 |
            // | 27 | 28 | 29 | 30 | 31 | 32 |   33 | 34 | 35 | 36 | 37 | 38 |
            // | 39 | 40 | 41 | 42 | 43 | 44 |   45 | 46 | 47 | 48 | 49 | 50 |
            // | 51 | 52 | 53 | 54 | 55 | 56 |   57 | 58 | 59 | 60 | 61 | 62 |

    hml: homewrow_mods_left {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;

      tapping-term-ms = <200>;
      hold-trigger-key-positions = <9 10 11 12 13 14 21 22 23 24 25 26 33 34 35 36 37 38 45 46 47 48 49 50 57 58 59 60 61 62>;
      quick-tap-ms = <150>;
      require-prior-idle-ms = <125>;
      flavor = "tap-preferred";
      hold-trigger-on-release;
    };

    hmr: homewrow_mods_right {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;

      tapping-term-ms = <200>;
      hold-trigger-key-positions = <3 4 5 6 7 8 15 16 17 18 19 20 27 28 29 30 31 32 39 40 41 42 43 44 51 52 53 54 55 56>;
      quick-tap-ms = <150>;
      require-prior-idle-ms = <125>;
      flavor = "tap-preferred";
      hold-trigger-on-release;
    };

    capdance: capdance {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      bindings = <&caps_word>, <&kp CAPS>;
    };

    hol_tog: hold_toggle {
      compatible = "zmk,behavior-hold-tap";
      bindings = <&mo>, <&tog>;

      #binding-cells = <2>;
      tapping-term-ms = <200>;
    };

    bsp_del: bsp_del {
      compatible = "zmk,behavior-mod-morph";
      bindings = <&kp BACKSPACE>, <&kp DELETE>;

      #binding-cells = <0>;
      mods = <(MOD_LCTL)>;
    };

};

    keymap {
        compatible = "zmk,keymap";

            // KEY POSITION REFERENCE
            // ---------------------------------------------------------------
            //                                                | 00 | 01 | 02 |
            // | 03 | 04 | 05 | 06 | 07 | 08 |   09 | 10 | 11 | 12 | 13 | 14 |
            // | 15 | 16 | 17 | 18 | 19 | 20 |   21 | 22 | 23 | 24 | 25 | 26 |
            // | 27 | 28 | 29 | 30 | 31 | 32 |   33 | 34 | 35 | 36 | 37 | 38 |
            // | 39 | 40 | 41 | 42 | 43 | 44 |   45 | 46 | 47 | 48 | 49 | 50 |
            // | 51 | 52 | 53 | 54 | 55 | 56 |   57 | 58 | 59 | 60 | 61 | 62 |

        base_layer {
            label = "Base";
        bindings = <
                                                                                     &kp C_PP      &mo OTHER       &kp C_MUTE

        &kp N1      &kp N2         &kp N3         &kp N4         &kp N5         &kp N6   &kp N7   &kp N8         &kp N9         &kp N0         &kp MINUS     &kp EQUAL
        &kp TAB     &kp Q          &kp W          &kp F          &kp P          &kp G    &kp J    &kp L          &kp U          &kp Y          &kp SEMI      &kp BKSP
        &kp ESC     &hrm LSFT  A   &hrm LCTRL R   &hrm LALT  S   &hrm LGUI  T   &kp D    &kp H    &hrm LGUI  N   &hrm LALT  E   &hrm LCTRL I   &hrm RSFT O   &kp SQT
        &kp LA(LG(FSLH))  &kp Z    &kp X          &kp C          &kp V          &kp B    &kp K    &kp M          &kp COMMA      &kp PERIOD     &kp SLASH     &kp LG(SPACE)
        &kp DELETE  &kp LCTRL   &kp LALT    &kp LGUI    &lt LOWER SPACE   &mkp MB1   &kp TAB   &lt RAISE ENTER   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
        >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;     
        };

lower_layer {
            label = "Lower";
            bindings = <
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &caps_word   &kp KP_MULTIPLY &kp KP_MINUS  &kp DELETE
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp KP_N7   &kp KP_N8    &kp KP_N9   &kp LS(SEMI)   &kp BKSP
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp KP_N4   &kp KP_N5    &kp KP_N6   &kp COMMA      &kp KP_ENTER
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp KP_N1   &kp KP_N2    &kp KP_N3   &kp FSLH      &kp SPACE
                &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp BKSP    &mkp MB1     &kp KP_N0   &kp KP_DOT     &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        raise_layer {
            label = "Raise";
            bindings = <
                                                                                                               &trans     &trans     &trans

 &kp ESC     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &kp F7       &kp F8       &kp F9     &kp F10    &kp BKSP
 &trans      &trans      &trans      &trans      &trans      &trans      &kp BSLH    &kp LS(LBKT) &kp LS(RBKT) &kp LBKT   &kp RBKT   &kp DEL
 &kp CAPS    &trans      &trans      &trans      &trans      &trans      &kp LEFT    &kp DOWN     &kp UP       &kp RIGHT  &trans     &trans
 &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans       &trans       &trans     &trans     &trans
 &trans      &trans      &kp RALT    &trans      &trans      &trans      &trans      &trans       &trans       &trans     &trans     &trans

            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        func_layer {
            label = "Other";
            bindings = <
                                                                                                             &trans      &trans      &trans

 &out OUT_TOG &sw_bt1   &sw_bt2   &sw_bt3   &sw_bt4   &sw_bt5   &trans      &trans      &trans     &rgb_ug RGB_TOG      &rgb_ug RGB_BRD      &rgb_ug RGB_BRI
 &trans       &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans     &trans      &rgb_ug RGB_EFF      &rgb_ug RGB_EFR
 &trans       &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans     &trans      &trans      &trans
 &trans       &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans     &trans      &trans      &trans
 &bootloader  &trans      &trans      &trans      &studio_unlock    &trans   &trans            &trans      &trans     &trans      &trans      &bt BT_CLR

            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
