/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10   // default: 10
#include <dt-bindings/zmk/pointing.h>

#define LOWER 1
#define RAISE 2
#define OTHER 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

// Convenience macro to make the Bluetooth commands shorter
#define BT(n) BT_SEL n

// Hyper key: all the modifiers
#define HYPER LC(LS(LA(LGUI)))

/ {
    chosen {
        // Valid choices: [ &mit_layout, &ortho_layout ]
        zmk,physical-layout = &mit_layout;
    };

    macros {
        // Cmd + mouse button 4
        cmd_mb4: cmd_mb4 {
            compatible = "zmk,behavior-macro";
            label = "CMD_MB4";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press &kp LGUI>,
                <&mkp MB4>,
                <&macro_release &kp LGUI>;
        };

        // From Finder, go to the Home directory
        finder_home: finder_home {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press &kp LEFT_COMMAND>,
                <&macro_press &kp LEFT_SHIFT>,
                <&macro_tap &kp H>,
                <&macro_release &kp LEFT_COMMAND>,
                <&macro_release &kp LEFT_SHIFT>;
        };
        // Teams mute
        teams_mute: teams_mute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press &kp LEFT_COMMAND>,
                <&macro_press &kp LEFT_SHIFT>,
                <&macro_tap &kp M>,
                <&macro_release &kp LEFT_COMMAND>,
                <&macro_release &kp LEFT_SHIFT>;
        };
        // BLE shortcuts
        sw_bt1: sw_bt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(128,100,10)>,
                <&bt BT(0)>;
        };
        sw_bt2: sw_bt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(0,100,10)>,
                <&bt BT(1)>;
        };
        sw_bt3: sw_bt3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(300,100,10)>,
                <&bt BT(2)>;
        };
        sw_bt4: sw_bt4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(250,100,10)>,
                <&bt BT(3)>;
        };
        sw_bt5: sw_bt5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(50,100,10)>,
                <&bt BT(4)>;
        };
    };

    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            // param 0 = hold behavior, param 1 = tap behavior
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
        bindings = <
                                                                                     &kp C_PP      &mo OTHER       &kp C_MUTE

        // Number row: starts with 1 (no Grave key), then 2–0, - and =
        &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS   &kp EQUAL

        // Colemak top alpha row
        &kp TAB     &kp Q       &kp W       &kp F       &kp P       &kp G       &kp J       &kp L       &kp U       &kp Y       &kp SEMI    &kp BKSP

        // Colemak home row with homerow mods:
        // Left hand: A R S T = Shift, Ctrl, Alt, Command
        // Right hand: N E I O = Command, Alt, Ctrl, Shift (reversed)
        &kp ESC     &hrm LSFT  A   &hrm LCTRL R   &hrm LALT  S   &hrm LGUI  T   &kp D
                    &kp H          &hrm LGUI  N   &hrm LALT  E   &hrm LCTRL I   &hrm RSFT O   &kp SQT

        // Bottom row with remapped mouse buttons:
        // X  = Command + MB4 (was Cmd+MB7)
        // C  = MB4           (was MB7)
        // B  = MB5           (was MB8)
        &kp LSHFT   &kp Z       &cmd_mb4    &mkp MB4    &kp V       &mkp MB5    &kp K       &kp M       &kp COMMA   &kp PERIOD  &kp SLASH   &kp ENTER

        // Thumbs / navigation
        &kp HYPER   &kp LCTRL   &kp LALT    &kp LGUI    &hrm &mo LOWER &kp SPACE   &mkp MB1   &kp TAB   &hrm &mo RAISE &kp ENTER   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT

        >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;    
                                                                                                             &kp C_PP    &mo OTHER   &kp C_MUTE
 &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS
 &kp TAB     &kp Q       &kp W       &kp F       &kp P       &kp G       &kp J       &kp L       &kp U       &kp Y       &kp SEMI    &kp BKSP
 &kp ESC     &hrm LSFT A &hrm LCTRL R &hrm LALT S &hrm LGUI T &kp D       &kp H       &hrm LGUI N &hrm LALT E &hrm LCTRL I &hrm RSFT O &kp SQT
 &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp K       &kp M       &kp COMMA   &kp PERIOD  &kp SLASH   &kp ENTER
 &kp HYPER   &kp LCTRL   &kp LALT    &kp LGUI    &mo LOWER         &kp SPACE         &mo RAISE   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT

            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
 
        };

        lower_layer {
            label = "Lower";
            bindings = <
                                                                                                               &trans          &trans       &trans

 &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp KP_DIVIDE &kp KP_MULTIPLY &kp KP_MINUS &kp KP_EQUAL
 &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp KP_N7   &kp KP_N8     &kp KP_N9       &kp KP_MINUS &trans
 &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp KP_N4   &kp KP_N5     &kp KP_N6       &kp KP_PLUS  &trans
 &trans      &trans      &trans      &trans      &trans      &trans      &trans      &kp KP_N1   &kp KP_N2     &kp KP_N3       &kp KP_PLUS  &trans
 &trans      &finder_home      &trans      &trans      &trans            &kp BKSP          &kp KP_N0   &kp KP_DOT    &trans          &kp KP_ENTER &trans

            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        raise_layer {
            label = "Raise";
            bindings = <
                                                                                                               &trans     &trans     &trans

 &kp ESC     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &kp F7       &kp F8       &kp F9     &kp F10    &kp BKSP
 &trans      &trans      &trans      &trans      &trans      &trans      &kp BSLH    &kp LS(LBKT) &kp LS(RBKT) &kp LBKT   &kp RBKT   &kp DEL
 &kp CAPS    &trans      &trans      &trans      &trans      &trans      &kp LEFT    &kp DOWN     &kp UP       &kp RIGHT  &trans     &trans
 &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans       &trans       &trans     &trans     &trans
 &trans      &trans      &kp RALT    &trans      &trans            &trans            &trans       &trans       &trans     &trans     &trans

            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        func_layer {
            label = "Other";
            bindings = <
                                                                                                             &trans      &trans      &trans

 &out OUT_TOG &sw_bt1   &sw_bt2   &sw_bt3   &sw_bt4   &sw_bt5   &trans      &trans      &trans     &rgb_ug RGB_TOG      &rgb_ug RGB_BRD      &rgb_ug RGB_BRI
 &trans       &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans     &trans      &rgb_ug RGB_EFF      &rgb_ug RGB_EFR
 &trans       &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans     &trans      &trans      &trans
 &trans       &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans     &trans      &trans      &trans
 &bootloader  &trans      &trans      &trans      &studio_unlock    &trans            &trans      &trans     &trans      &trans      &bt BT_CLR

            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
